.template {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.template .template-container {
    padding: 20px;
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
}

.matrio-logo {
    width: 40%;
    height: 50%;
    display: flex;
}

.matrio-logo img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: contain;
}