.template {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #304673   ;
}

.template-container h1{
    font-weight: 900;
    color: #ACF2EB;
    font-size: 70px;
    margin: 0;
}

.template .template-container {
    margin: 50px;
    width: 100%;;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}


.matrio-logo img {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
}