.end-stat-open {
    overflow: hidden;
}

.end-stat {
    position: fixed;
    transform: translate(50%, 50%);
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 40%;
    height: 20%;
    background-color: rgba(40, 50, 250, 0.3);
    justify-content: center;
    align-items: center;
}

.end-stat-content {
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 450px;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.vertical-bar {
    width: 150px;
    background-color: black;
    height: 100%;
}

.horizontal-bar {
    height: 80px;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}

.end-stat-content h2 {
    margin-top: 0;
}

.end-stat-content a {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.game-container{
    display: flex;
    background-color: lightblue;
    height: 100vh;
}

aside {
    flex: 1;
    display: flex;
    justify-content: left;
    height: 90vh;
}

.jeu_tetrys{
    display: inline-block;
    height: 95%;
    margin-top: auto;
    margin-left: 25px;
}

.jeu_tetrys img{
    max-height: 100%;
    display: block;
}

.separation{
    display: block;
    width: 6px;
    height: 80%;
    background-color: grey;
    margin-top: 20%;
    margin-left: 5vw;
}

.playable-content{
    flex: 3;
    display: inline;
}

.logo-container{
    margin-left: 43%;
    height: 20%;
    text-align: center;
    display: block;
}

.logo-container img{
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.words-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
}

.writing-space{
    margin-top: 9%;
    width: 70%;
    margin-left: 15%;
}