
.game-container{
    display: flex;
    background-color: lightblue;
    height: 100vh;
}

aside {
    flex: 1;
    display: flex;
    justify-content: left;
    height: 90vh;
}

.jeu_tetrys{
    display: inline-block;
    height: 95%;
    margin-top: 25px;
    margin-left: 25px;
}

.jeu_tetrys img{
    max-height: 100%;
    display: block;
}
.jeu_tetrys a{
    max-height: 100%;
    display: block;
}

.jeu_tetrys a img{
    max-height: 100%;
    display: block;
}

.separation{
    display: block;
    width: 6px;
    height: 80%;
    background-color: grey;
    margin-top: 20%;
    margin-left: 5vw;
}

.playable-content{
    flex: 3;
    display: inline;
}

.logo-container{
    justify-content: center;
    height: 20%;
    text-align: center;
    display: flex;
}

.logo-container img{
    max-height: 100%;
    max-width: 100%;
    display: flex;
}

.words-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
}

.writing-space{
    margin-top: 6%;
    width: 70%;
    margin-left: 15%;
}

.chrono-container{
    margin-top: 3%;
    width: 40%;
    margin-left: 30%;
}

.chrono img{
    max-height: 100%;
    max-width: 100%;
    display: block;
}

button.end-button{
    margin: 20px auto;
}