
.game-container{
    display: flex;
    background-color: #304673;
    height: 100vh;
}

.block-container{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    justify-content:space-evenly; 
}

aside {
    flex: 1;
    display: flex;
    justify-content: left;
    height: 90vh;
}

.jeu_tetrys{
    display: inline-block;
    height: 95%;
    margin-top: 25px;
    margin-left: 25px;
}

.jeu_tetrys img{
    max-height: 100%;
    display: block;
}
.jeu_tetrys a{
    max-height: 100%;
    display: block;
}

.jeu_tetrys a img{
    max-height: 100%;
    display: block;
}

.separation{
    display: block;
    width: 6px;
    height: 80%;
    background-color: grey;
    margin-top: 20%;
    margin-left: 5vw;
}

.playable-content{
    flex: 3;
    display: inline;
}

.logo-container{
    justify-content: center;
    height: 20%;
    text-align: center;
    display: flex;
}

.logo-container img{
    max-height: 100%;
    max-width: 100%;
    display: flex;
}

.words-container{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    justify-content: space-evenly;
}

.writing-space{
    margin-top: 6%;
    width: 70%;
    margin-left: 15%;
}

.arrows-container{
    position: absolute;
    display: flex;
    margin-left: 1%;
    flex-direction: column;
    width: 9%;
    height: 20%;
}

.rotational-arrows{
    max-height: 100%;
    max-width: 100%;
}

.rotational-arrows > img{
    max-width: 100%;
}

.horizontal-arrows{
    max-height: 100%;
    max-width: 100%;
}

.horizontal-arrows > img{
    max-width: 100%;
    display: block;
}





.chrono-container{
    margin-top: 3%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.chrono img{
    max-height: 100%;
    max-width: 100%;
    display: block;
}

button.end-button{
    margin: 20px auto;
}