<div class="game-stat-container">
    <div class="date-container">
        <p class="date-content">
            10/03/24
        </p>
    </div>
    <div class="mode-container">
        <p class="mode-content">
            Débutant
        </p>
    </div>
    <div class="score-container">
        <p class="score-content">
            253
        </p>
    </div>
    <div class="note-container">
        <p class="note-content">
            A
        </p>
    </div>
    <div class="icon-detail-container">
        <a href="#">
            <img src="./assets/arrow_forward.png">
        </a>
    </div>
</div>