.block{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 25vw;
    margin: 0 20px;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}

.block img {
    height: auto;
    width: 40%;
    margin-bottom: 20px;
}

.word{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 50px;
}