<div class="stat-graph">
    <div class="graph-container">
        <img src="./assets/graphdebutant.png" alt="img-graph-inconnu">
    </div>
    <div class="graph-container">
        <img src="./assets/graphintermediaire.png" alt="img-graph-inconnu">
    </div>
    <div class="graph-container">
        <img src="./assets/graphavance.png" alt="img-graph-inconnu">
    </div>
    <div class="graph-container">
        <img src="./assets/graphavance.png" alt="img-graph-inconnu">
    </div>
    <div class="graph-container">
        <img src="./assets/graphavance.png" alt="img-graph-inconnu">
    </div>
</div>