<div class="features-button-container">
    <div class="button-container">
        <a class="features-button-1" href="/endGameStat.html">
            <button>Fin de Partie</button>
        </a>
    </div>
    <div class="button-container">
        <a class="features-button-2" href="/errorPage.html">
            <button id="mauvaise-reponse">Mauvaise Réponse</button>
        </a>
    </div>
     <div class="button-container">
        <a class="features-button-3" href="/bonneRep.html">
            <button id="bonne-reponse">Bonne Réponse</button>
        </a>
     </div>
     
</div>