.navbar {
    background-color: #333;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    flex: 1; /* chaque item prend autant de place*/
    background-color: red;
}

.navbar ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.navbar ul li a:hover {
    background-color: green;
}
